---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Mis blogs";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Aquí pondré mis blogs de diferentes temas que me interesen</p>
  <ul>
    <li><a href="/publicaciones/publicacion-0">Post 1</a></li>
  </ul>
</BaseLayout>
